@use "styles/components/form/form" as *;

.popup-form {
  width: 100%;
  max-width: 600px; // Limitar el ancho máximo para pantallas grandes
  margin: 0 auto; // Centrar el formulario
}

.whole-page-form {
  width: 100%;
  max-width: 1200px; // Limitar el ancho máximo para pantallas grandes
  margin: 0 auto; // Centrar el formulario
  padding: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 0.5rem;
  }
}

@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr; // Una columna en pantallas pequeñas
  }

  mat-form-field {
    width: 100%; // Campos de formulario a ancho completo en móviles
  }

  button[mat-raised-button] {
    width: 100%; // Botón a ancho completo en móviles
    margin-top: 20px;
  }
}

// Ajustes adicionales para mejorar la legibilidad en dispositivos móviles
@media (max-width: 400px) {
  mat-card-title {
    font-size: 1.5rem;
  }

  mat-label, input, mat-select {
    font-size: 0.9rem;
  }
}

.doctor-form {
  .actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-top: 1rem;
    
    @media (max-width: 600px) {
      flex-direction: column;
      
      button {
        width: 100%;
      }
    }
  }
}
