<div class="page-wrapper footer">
  <h2>Contáctenos</h2>
  <p style="margin-bottom: 4em">
    Si tiene alguna pregunta o necesita ayuda, no dude en contactarnos. Siempre estamos listos para ayudarle.
  </p>
  <div class="container">
    <img
      alt="line"
      class="line doctor-img"
      height="4812"
      ngSrc="assets/images/medical-doctor.webp"
      width="2863"
    />
    <div class="contact-info">
      <div class="contact-info-item">
        <mat-icon>place</mat-icon>
        <h3>Dirección</h3>
        <p>Wijttenbachstraat 36</p>
        <p>1093 JC Amsterdam</p>
      </div>
      <div class="contact-info-item">
        <mat-icon>phone</mat-icon>
        <h3>Teléfonos</h3>
        <p>020 665 63 33</p>
        <p>020 665 63 32</p>
      </div>
      <div class="contact-info-item">
        <mat-icon>email</mat-icon>
        <h3>Correo electrónico</h3>
        <p>clinic&#64;clinic-system.com</p>
      </div>
      <div class="contact-info-item">
        <mat-icon>schedule</mat-icon>
        <h3>Horario de atención</h3>
        <p>Lunes - Viernes: 09:00 - 17:00</p>
        <p>Sábado - Domingo: Cerrado</p>
      </div>
      <div class="contact-info-item">
        <mat-icon>person_add</mat-icon>
        <h3>Síguenos</h3>
        <p>
          Únete a nuestras redes sociales para mantenerte al día con nuestras últimas noticias y eventos.
        </p>
        <div class="social-media">
          <a href="https://www.facebook.com" target="_blank">Facebook</a>
          <a href="https://www.instagram.com" target="_blank">Instagram</a>
          <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
          <a href="https://www.twitter.com" target="_blank">Twitter</a>
        </div>
      </div>
    </div>
  </div>
  <div class="page-info">
    
  </div>
</div>
