<section>
  <h2>Gestionar Especialidades Médicas</h2>
  <div class="actions-section">
    <button (click)="openAddSpecialtyDialog()" color="primary" mat-raised-button>
      <mat-icon>add</mat-icon>
      Añadir especialidad
    </button>
  </div>

  <div class="table-wrapper mat-elevation-z8">
    @if (dataSource.data.length > 0) {
      <table [dataSource]="dataSource" mat-table>
        @for (column of tableHelper.baseColumnNames; track column) {
          <ng-container [matColumnDef]="column">
            <th *matHeaderCellDef mat-header-cell>
              {{ tableHelper.baseColumnTitles[column] }}
            </th>
            <td *matCellDef="let element" mat-cell>
              @if (column === 'active') {
                {{ element[column] ? 'Sí' : 'No' }}
              } @else {
                {{ element[column] }}
              }
            </td>
          </ng-container>
        }

        <!-- Columnas de acciones -->
        <ng-container matColumnDef="edit">
          <th *matHeaderCellDef mat-header-cell>Editar</th>
          <td *matCellDef="let element" mat-cell>
            <button (click)="openEditSpecialtyDialog(element)" mat-icon-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th *matHeaderCellDef mat-header-cell>Eliminar</th>
          <td *matCellDef="let element" mat-cell>
            <button (click)="deleteSpecialty(element)" mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="tableHelper.allColumnNames" mat-header-row></tr>
        <tr *matRowDef="let row; columns: tableHelper.allColumnNames" mat-row></tr>
      </table>
    }
  </div>
</section>
