<div class="features-wrapper page-wrapper">
  <div class="feature">
    <div>
      <mat-icon class="feature-icon">schedule</mat-icon>
      <h3>Ahorre tiempo</h3>
      <div class="border"></div>
    </div>
    <p>
      Los pacientes son programados para horarios específicos para minimizar el tiempo de espera.
    </p>
  </div>
  <div class="feature">
    <mat-icon>medical_services</mat-icon>
    <h3>Especialistas a su servicio</h3>
    <div class="border"></div>
    <p>
      Si necesita atención especializada, no busque más. Nuestra clínica cuenta con una variedad de especialistas, incluyendo otorrinolaringólogos, listos para brindar un servicio médico de primera clase.
    </p>
  </div>
  <div class="feature">
    <mat-icon>business</mat-icon>
    <h3>Un nombre confiable en salud</h3>
    <div class="border"></div>
    <p>
      Nuestra clínica fue establecida en 1987 por Tim Jones. Su misión era crear un centro de salud enfocado en el paciente, proporcionando atención médica de alta calidad para la comunidad. Hoy, continuamos su legado, llevando adelante su compromiso con la atención excepcional, con un equipo de profesionales calificados y tecnología médica de vanguardia.
    </p>
  </div>
  <div class="feature">
    <mat-icon>place</mat-icon>
    <h3>Donde encontrarlo</h3>
    <div class="border"></div>
    <p>
      Accesible y bien ubicado, nuestra clínica se encuentra en la principal vía. Paradas de autobús y estacionamiento dedicado garantizan facilidad de acceso para los pacientes.
    </p>
  </div>
  <div class="feature">
    <mat-icon>star</mat-icon>
    <h3>Exámenes de vanguardia</h3>
    <div class="border"></div>
    <p>
      Nuestra clínica se enorgullece de ofrecer una amplia gama de exámenes de ultrasonido detallados. Hemos sido honrados con la acreditación de la Sociedad Polaca de Ultrasonografía por nuestros servicios excelentes.
    </p>
  </div>
  <div class="feature">
    <mat-icon>badge</mat-icon>
    <h3>Personal amable y capacitado</h3>
    <div class="border"></div>
    <p>
      Nuestro equipo, incluyendo enfermeras ambientales con maestrías y una partera ambiental, se compromete a brindar atención personalizada. Nuestro personal de enfermería y registradores médicos atienden diligentemente la programación de citas de los pacientes.
    </p>
  </div>
  <div class="feature">
    <mat-icon>accessible</mat-icon>
    <h3>Infraestructura accesible</h3>
    <div class="border"></div>
    <p>
      Teniendo en cuenta las necesidades de todos nuestros pacientes, hemos asegurado que nuestra clínica sea completamente accesible para personas con discapacidad. Con una entrada diseñada especialmente, ascensor y escaleras convenientes a los pisos superiores, hemos tomado cada paso para garantizar una visita cómoda para todos.
    </p>
  </div>
  <div class="feature">
    <mat-icon>lock</mat-icon>
    <h3>La seguridad, nuestra prioridad</h3>
    <div class="border"></div>
    <p>
      Nuestra clínica cuenta con lámparas bactericidas avanzadas en cada oficina para niveles óptimos de higiene. Además, también tenemos un sistema de ventilación integral en funcionamiento, lo que mejora la seguridad para tanto nuestros pacientes como nuestro personal.
    </p>
  </div>
</div>
